<!-- Modal -->
<div id="modal-{{id}}" class="modal fade" role="dialog">
<div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{name}}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <img class="modal-img" src="{{image_url}}">
            <p class="dash-blurb">{{description}}</p>
            <h5>Price: ${{price}}/month</h5>
        </div>
        <div class="modal-footer">
            <button data-key="{{userProfile.id}}" type="button" class="btn btn-default accent switch" data-dismiss="modal-{{id}}">Switch My Subscription!</button>
        </div>
    </div>

</div>
</div>