<div class="col-md-4 mb-4">
    <div class="card h-100">
        <div class="card-body modal-triggers" id="result-{{id}}-{{bucket_id}}" style="background-image:url('{{image_url}}');">
            <h3 class="card-title">{{name}}</h3>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-more accent" data-toggle="modal" data-target="#modal-{{id}}-{{bucket_id}}">Learn More</a>
        </div>
    </div>
</div>