<div class="col-md-4 mb-4">
    {{boxResults}}
    <div class="card h-100">
    <div class="card-body modal-triggers" id="result-{{id}}" style="background-image:url('{{image_url}}');">
        <h3 class="card-title">{{name}}</h3>
        {{!-- <img src=""> --}}
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-more accent" data-toggle="modal" data-target="#modal-{{id}}">Learn More</a>
    </div>
    </div>
</div>